<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>LaBu</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <h1 style="text-align:center">LaBu - ŽODYNAS</h1>
    <div>
    <div style="width: 50%; margin:0px auto">
    <form method="POST" action="" id="add-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" class="btn btn-default" />
        <a href="/" class="btn btn-default">Back</a>
    </form>
    </div>
    </div>
</body>
</html>
